
body {
  overflow-x: hidden;
}
/*css start from here*/
body {
    overflow-x: hidden;
}

.navbar-section {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo {
    width: 135px;
    height: 82px;
}

.ancor-bar {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-section ul li {
    list-style: none;
    text-align: center;
    
}
.navbar-section ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.shopping-cart {
    display: flex;
    gap: 0px;
}
.home-link {
    color: #252432;
    font-weight: 900;

}
.shop-link  {
    color: #8987A1;
}
.aboutus-link {
    color: #8987A1;
}
.cart-56 {
    color:#000000 ;
}
.shopping-cart {
    list-style: none;
    text-decoration: none;
    gap: 10px;
    margin-left: 10px;
}
.cart-56 {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}





/*Banner start from here*/








.banner-section {
    max-width: 1140px;
    margin: 0 auto;
    height: 461px;
    display: flex;
    padding-top: 120px;
}
.banner-img {
    width: 100%;
    height: auto;
    display: block;

}
.banner-title {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 65px;
}
.fresh {
    color: #E95A08;
}
.banner-paragraph {
    font-family: 'Inter', sans-serif;
    width: 570px;
    height: 108px;
    font-size: 22px;
    color: #8987A1;
}


/*Our plants CARD ITEM*/


.our-plants {
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;

    
}
.our-plants-main-title{
    margin-bottom: 30px;
}
.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}
.our-plants-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Serif', serif;
    margin: 0 auto;
}

.our-plants-paragraph {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0 auto;
    color: #8987A1;
    max-width: 888px;
    height: auto;
    margin-bottom: 40px;
}
.our {
    color: #E95A08;
}

.card {
    text-align: center;
    width: 263px;
    margin-bottom: 10px;
}
.lily {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #111111;

}
.usd {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #111111;
    font-size: 22px;
    font-weight: 700;
}
.card-img {
    width: 270px;
    height: 322px;
}

.btn-primary {
   background-color: #E95A08;
   color: white;
   font-family: 'Inter', sans-serif;
   width: 270px;
   height: 50px;
   border: none;
   font-size: 16px;
}
.btn-primary:hover {
    background-color: #8987A1;
}




/*plants-lover section*/

.challange-part {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 200px;
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.plants-lover {
    display: flex;
}
.flower-shop {
    width: 540px;
    height: auto;
}

.circle-star {
    margin-left: -150px;
    margin-top: -100px;
    width: 270px;
    height: 270px;
    animation: spin 4s linear infinite;
    
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
.plants-lover-column-text {
    margin-left: -80px;
}
.lover-h1 {
    font-size: 50px;
}
.column-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 150px;
}
.column-paragraph li {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    color: #8987A1;
}

/*our-plants-picture section*/

.plants-lover-part {
    max-width: 1140px;
    margin:60px auto 0 auto;
    clear: both;
    position: relative;
    z-index: 1;
   
}
.our-deals-headings {
    margin-top: 133px;
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
}

.our-deals-color-title {
    font-size: 50px;
    font-weight: bold;
}
.plants-lover-heading-p {
    

}


.our-plants-grid-pic-section {
    display: flex;
    gap: 20px;
    align-items: flex-start;

}

.column-pics {
    display: flex;
    flex-direction: column;
}

.ana-plants {
    margin-top: 20px;
}

.bloom-plant {
  position: relative;
  display: inline-block;
  width: fit-content;
} 

.bloom-plant img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: blur(1px);
}
.text-overlay {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    color: aliceblue;
    

}


.image-grid-1-link {
  font-size: 18px;
  padding: 6px 14px;
  color: white;
}
.image-grid-1-title {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}
.image-grid-1-paragraph {
    font-family: 'Inter', sans-serif;
  top: 50%;
  font-size: 18px;
  padding: 6px 10px;
  color: aliceblue;
}








.ana-plants {
  position: relative;
  
}
.ana-plants img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: blur(1px);
}

.image-grid-2-title {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.text-overlay-2 {
    color: white;
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;


}

.image-grid-2-paragraph {
     font-family: 'Inter', sans-serif;
    
    text-align: center;
  top: 50%;
  font-size: 18px;
  padding: 6px 10px;
  color: white;
}






.zabo-column-pics {
    position: relative;
}



.zabo-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    filter: blur(1px);
}
.text-overlay-3 {
    color: white;
    position: absolute;
    top: 40%;
    left: 29%;
    text-align: center;
    justify-content: center;


}
.image-grid-3-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    
}
.image-grid-3-paragraph {
    text-align: center;
    font-family: 'Noto Serif', serif;
  top: 50%;
  font-size: 20px;
  padding: 6px 6px;
  color: white;
}







/*fotter start from here*/

.footer-img-section {
    background-image: url(./assets/news-letter-bg.png);
    height: 500px;
    width: 100%;            
    max-width: 1440px;       
    margin: 50px auto 0 auto; 
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }


.overlay-all {
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    color: white;
}

.text-h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.8rem;
}


.subscribe-form {
  display: flex;
}


.subscribe-form input[type="email"] {
  flex: 1;
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
}


.subscribe-form button {
  background-color: #ff5700;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #e64e00;
}



/*footer down*/

.footer-down {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.footer-parag {
    color: #8987A1;
}

.input-ancor-buttons ul {
  display: flex;
  flex-direction: column; 
  gap: 20px;             
  list-style: none;       
  padding: 0;
  margin: 0;
  color: #8987A1;
}

.input-ancor-buttons li a {
  text-decoration: none;
color: #8987A1;
}

.lists-items ul {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
  color: #8987A1;
}

.brand-logo {
    display: flex;
    gap: 30px;
    
}









/*nav responsive start from here*/






@media (max-width: 767px) { 

.navbar-section {
    padding: 15px;
}

.logo {
    width: 100px;
    height: 82px;

}

.home-link,
 .shop-link, 
 .aboutus-link {
    display:none;
}
 
.shopping-cart, .cart-56 {
    font-size: 0.8rem;
}







/*banner- responsive start from here*/










.banner-section {
    flex-direction: column-reverse;
}

.banner-img {
    height: 250px;
    object-fit: cover;
}
.banner-img {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.banner-img {
  display: flex;

}

.banner-text-section {
     padding-left: 16px;
     padding-right: 16px;
}

.banner-title {
    font-size: 1.65rem;
    width: 310px;
    height: 66px;
    padding-bottom: 10px;
}


.banner-paragraph {
    font-size: 0.8rem;
    width:360px;
    height: 68px;
}


 }

/*card section responsive*/

@media (max-width: 767px) {


    .card-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        
    }
    .our-plants-main-title {
        width: 100%;
        max-width: 390px;
        height: 117px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .our-plants-title {
        font-size: 2rem;
    }

    .our-plants-paragraph {
        font: 0.5rem;
        width: 100%;
        height: auto;
        margin: 0 auto;
        font-size: 0.8rem;
        width:360px;
        height: 68px;
        
    }



.card {
    width: 100%;
    text-align: center;
    justify-content: center;
}


.card-img,
.btn-primary {
    width: 100%;
    height: auto;
    display: block;
}
.btn-primary {
    height: 50px;

}


}

/*Our plants CARD ITEM*/

@media (max-width: 767px) {
.challange-part {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    position: relative;
}
.plants-lover {
    align-items: center;
}
.plants-lover-column-text {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.circle-star {
    display: none;
}
.hide-br {
    display: none;
}

.flower-shop {
}
.lover-h1 {
    font-size: 1.6rem;
    text-align: center;
}
  .column-paragraph li {
    max-width: 200px;
    font-size: 0.75rem;
    
  }

  .column-paragraph li {
    text-align: center;
    margin: 0 auto;
    padding-right: 50px;
    white-space: normal;
  }


 .flower-shop {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-top: 50px;
    margin: auto;
    display: block;
  }


}




@media (max-width: 767px) {


.plants-lover-part {
    padding: 80px 16px 60px 16px;
}
.our-deals-headings {
    margin-top: 40px;
    margin-bottom: 40px;

}
.our-deals-color-title {
    font-size: 1rem;

}
.plants-lover-heading-p {
    color: #8987A1;
    font-size: 0.85rem;
    line-height: 1;
    max-width: 300px;
    margin: 0 auto;

}
.our-plants-grid-pic-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.column-pics,
.ana-plants,
.bloom-plant,
.zabo-column-pics {
    width: 100%;
    max-width: 350px;
    position: relative;
}

.bloom-plant img,
.ana-plants img,
.zabo-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: blur(1px);
    display: block;
}


  .text-overlay,
  .text-overlay-2,
  .text-overlay-3 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 0 10px;
  }

  .image-grid-1-title,
  .image-grid-2-title,
  .image-grid-3-title {
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
  }

  .image-grid-1-paragraph,
  .image-grid-2-paragraph,
  .image-grid-3-paragraph {
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin-top: 4px;
  }

}

  
/**/










@media (max-width: 767px) {

   .footer-img-section {
    height: 200px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

  .subscribe-form input[type="email"],
  .subscribe-form button {
    width: 100px;
    font-size: 0.6rem;
  }

  .subscribe-form button {
    padding: 12px;}

.text-h2 {
    font-size: 0.9rem
}


.footer-down {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
    margin-left: 40px;
    margin-bottom: 20px;
}

}






