

/*css start from here*/
body {
    overflow-x: hidden;
}

.navbar-section {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo {
    width: 135px;
    height: 82px;
}

.ancor-bar {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-section ul li {
    list-style: none;
    text-align: center;
    
}
.navbar-section ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.shopping-cart {
    display: flex;
    gap: 0px;
}
.home-link {
    color: #252432;
    font-weight: 900;

}
.shop-link  {
    color: #8987A1;
}
.aboutus-link {
    color: #8987A1;
}
.cart-56 {
    color:#000000 ;
}
.shopping-cart {
    list-style: none;
    text-decoration: none;
    gap: 10px;
    margin-left: 10px;
}
.cart-56 {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}





/*Banner start from here*/








.banner-section {
    max-width: 1140px;
    margin: 0 auto;
    height: 461px;
    display: flex;
    padding-top: 120px;
}
.banner-img {
    width: 100%;
    height: auto;
    display: block;

}
.banner-title {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 65px;
}
.fresh {
    color: #E95A08;
}
.banner-paragraph {
    font-family: 'Inter', sans-serif;
    width: 570px;
    height: 108px;
    font-size: 22px;
    color: #8987A1;
}


/*Our plants CARD ITEM*/


.our-plants {
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;

    
}.our-plants-main-title{
    margin-bottom: 30px;
}
.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}
.our-plants-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Serif', serif;
    margin: 0 auto;
}

.our-plants-paragraph {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0 auto;
    color: #8987A1;
    max-width: 888px;
    height: auto;
    margin-bottom: 40px;
}
.our {
    color: #E95A08;
}

.card {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.lily {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #111111;

}
.usd {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #111111;
    font-size: 22px;
    font-weight: 700;
}
.card-img {
    width: 270px;
    height: 322px;
}

.btn-primary {
   background-color: #E95A08;
   color: white;
   font-family: 'Inter', sans-serif;
   width: 270px;
   height: 50px;
   border: none;
   font-size: 16px;
}
.btn-primary:hover {
    background-color: #8987A1;
}
/*nav responsive start from here*/






@media (max-width: 767px) { 

.navbar-section {
    padding: 15px;
}

.logo {
    width: 100px;
    height: 82px;

}

.home-link,
 .shop-link, 
 .aboutus-link {
    display:none;
}
 
.shopping-cart, .cart-56 {
    font-size: 0.8rem;
}







/*banner- responsive start from here*/










.banner-section {
    flex-direction: column-reverse;
}

.banner-img {
    height: 250px;
    object-fit: cover;
}
.banner-img {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.banner-img {
  display: flex;

}

.banner-text-section {
     padding-left: 16px;
     padding-right: 16px;
}

.banner-title {
    font-size: 1.65rem;
    width: 310px;
    height: 66px;
    padding-bottom: 10px;
}


.banner-paragraph {
    font-size: 0.8rem;
    width:360px;
    height: 68px;
}


 }



@media (max-width: 767px) {


    .card-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        
    }
    .our-plants-main-title {
        width: 100%;
        max-width: 390px;
        height: 117px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .our-plants-title {
        font-size: 2rem;
    }

    .our-plants-paragraph {
        font: 0.5rem;
        width: 100%;
        height: auto;
        margin: 0 auto;
        font-size: 0.8rem;
        width:360px;
        height: 68px;
        
    }



.card {
    width: 100%;
    text-align: center;
}


.card-img,
.btn-primary {
    width: 100%;
    max-width: 100%;
    height: auto;

}
.btn-primary {
    height: 50px;

}


}



